
<IfModule mod_rewrite.c>
 <FilesMatch "\.(ttf|ttc|png|jpg|js|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
#RewriteRule ^.*$ ./index.php